body{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 217, 0);
    font-family: "Workbench", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button{
    background-color: gray;
    font-family: "Cutive Mono", monospace;
}
